<div class="row mt-3" *ngIf="( customerState$ | async ) as state" [ngSwitch]="state.appState">
    <div class="col-12">
        <ul class="nav nav-tabs mb-1">
            <li *ngFor="let alpha of alphabets" class="nav-item" >
                <!-- <a (click)="alphaClick(alpha)" 
                    [ngClass]="currentAlpha == alpha ? 'active' : ''"
                    class="nav-link" style="cursor: pointer;">{{ alpha }}</a> -->
            </li>
        </ul>
        <div class="card">
            <div class="card-header bg-success">
                <h4>Customer List</h4>
            </div>
            <div class="class-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nama Perusahaan</th>
                            <th>Nama Contact</th>
                            <th>No Telp</th>
                            <th>Email</th>
                            <th class="text-center">Aktif</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of state.appData.data.page.content">
                            <td>{{ customer.organizationLegalName }}</td>
                            <td>{{ customer.contactPerson }}</td>
                            <td>{{ customer.phone }}</td>
                            <td>{{ customer.email }}</td>
                            <td class="text-center">
                                <input type="checkbox" [checked]="customer.active" /> <!--(change)="toggleActive(customer.id, $event)"-->
                            <td>
                                <button (click)="editCustomer(customer.id)" class="btn btn-primary">
                                    <i class="bi bi-pen"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #noCustomers>
                    <tr>
                        <td colspan="6" class="text-center">No customers found</td>
                    </tr>
                </ng-template>
                <nav>
                    <ul class="pagination justify-content-start">
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo; Previous</span>
                            </a>
                        </li>
                        <li class="page-item pointer"
                            [ngClass]="i == (currentPage$ | async) ? 'active' : ''"
                            *ngFor="let pageNumber of [].constructor(state.appData.data.page.totalPages); let i = index"
                        >
                            <a class="page-link"
                                (click)="gotoPage(i)">
                                {{ i + 1 }}
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">Next &raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
